.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  & .para {
    width: 50%;
    text-align: center;
  }

  & :last-child {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  & a {
    text-decoration: underline;
  }
}
